
.txt-right {
	text-align: right;
}

.txt-center {
	text-align: center;
}

.txt-left {
	text-align: left;
}


p {
	padding: 0 1rem;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
}





.gform_wrapper ul {
  @extend .list-unstyled;
}
.gform_wrapper li {
  @extend .form-group;
}
.gform_wrapper form {
  margin-bottom: 0;
}
.gform_wrapper .gfield_required {
  padding-left: 1px;
  color: $state-danger-text;
}
.ginput_container input,
.ginput_container select,
.ginput_container textarea {
	@extend .form-control;
}
.ginput_container textarea {
  height: auto;
}
.gform_button {
	@extend .btn;
	@extend .btn-primary;
}
.gform_wrapper .gfield_error {
  .gfield_label {
    color: $state-danger-text;
  }
  input,
  select,
  textarea {
    border-color: $alert-danger-border;
    background-color: $alert-danger-bg;
    color: $alert-danger-text;
    @include form-control-focus($alert-danger-text);
  }
}
.validation_error {
	@extend .alert;
	@extend .alert-danger;
}
#gforms_confirmation_message {
	@extend .alert;
	@extend .alert-success;
}





.page-template-template-edmonton, .page-template-template-homepage, .error404 {
  .banner {
    .hd-nav {

      span {

        &:after {

          -moz-border-image: -moz-linear-gradient(right, $red 0%, $red 100%);
          -webkit-border-image: -webkit-linear-gradient(right, $red 0%, $red 100%);
          border-image: linear-gradient(to left, $red 0%, $red 100%);
          border-image-slice: 1;

        }
      }
    }
  }

  #banner-group {
    -moz-border-image: -moz-linear-gradient(right, $red 0%, $red 100%);
    -webkit-border-image: -webkit-linear-gradient(right, $red 0%, $red 100%);
    border-image: linear-gradient(to left, $red 0%, $red 100%);
    border-image-slice: 1;
  }

  #border-bot {
      -moz-border-image: -moz-linear-gradient(right, $red 0%, $red 100%);
      -webkit-border-image: -webkit-linear-gradient(right, $red 0%, $red 100%);
      border-image: linear-gradient(to left, $red 0%, $red 100%);
      border-image-slice: 1;
  }

  .footer-info {
      -moz-border-image: -moz-linear-gradient(right, $red 0%, $red 100%);
      -webkit-border-image: -webkit-linear-gradient(right, $red 0%, $red 100%);
      border-image: linear-gradient(to left, $red 0%, $red 100%);
      border-image-slice: 1;
  }

  .gform_wrapper .percentbar_blue {
  background: rgba(237,28,47,1);
  background: -moz-linear-gradient(left, rgba(237,28,47,1) 0%, rgba(237,28,47,1) 100%)  !important;
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,28,47,1)), color-stop(100%, rgba(237,28,47,1)))  !important;
  background: -webkit-linear-gradient(left, rgba(237,28,47,1) 0%, rgba(237,28,47,1) 100%)  !important;
  background: -o-linear-gradient(left, rgba(237,28,47,1) 0%, rgba(237,28,47,1) 100%)  !important;
  background: -ms-linear-gradient(left, rgba(237,28,47,1) 0%, rgba(237,28,47,1) 100%)  !important;
  background: linear-gradient(to right, rgba(237,28,47,1) 0%, rgba(237,28,47,1) 100%)  !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='$red', GradientType=1 )  !important;
  }
}