// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #23282d;
$red: #ed1c2f;


// Fonts
$font-family-sans-serif:  "Varela Round", Arial, sans-serif;