
.footer-info {
	background: $brand-primary;
	padding: 15px 0;
	text-align: center;
	color: #fff;

	border-width: 2px 0px 0px 0px;
	border-style: solid;

	-moz-border-image: -moz-linear-gradient(right, #694375 0%, #FF4E50 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #694375 0%, #FF4E50 100%);
    border-image: linear-gradient(to left, #694375 0%, #FF4E50 100%);
    border-image-slice: 1;
}