
.banner {
	margin-top: 25px;
	margin-bottom: 25px;

	.hd-nav {
	    padding: .75rem 0;
	    text-transform: uppercase;
        font-size: 14px;
	    margin-top: 55px;
	    display: inline-block;
	    font-weight: bold;

	    @media (min-width: 768px) {
	    	margin-top: 35px;
	    }

	    span {

    		&:after {
			    content: '';
			    display: block;
			    border-width: 0px 0 3px 0px;
			    border-style: solid;

				-moz-border-image: -moz-linear-gradient(right, #694375 0%, #FF4E50 100%);
			    -webkit-border-image: -webkit-linear-gradient(right, #694375 0%, #FF4E50 100%);
			    border-image: linear-gradient(to left, #694375 0%, #FF4E50 100%);
			    border-image-slice: 1;

			    width: 0;
			    -webkit-transition: width .25s ease-out;
			    transition: width .25s ease-out;
			}
    	}

	    &:hover {
	    	text-decoration: none;

	    	span {
	    		&:after {
				    width: 100%;
				}
			}
		}
	}
}

.gofull {
	margin: 0 -15px;
}

#banner-image {
	height: 250px;

	@media (min-width: 768px) {
		height: 500px;
	}

	border-width: 2px 0px 0px 0px;
	border-style: solid;

	-moz-border-image: -moz-linear-gradient(right, #694375 0%, #FF4E50 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #694375 0%, #FF4E50 100%);
    border-image: linear-gradient(to left, #694375 0%, #FF4E50 100%);
    border-image-slice: 1;

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#banner-group {
	border-width: 2px 0px 0px 0px;
	border-style: solid;

	-moz-border-image: -moz-linear-gradient(right, #694375 0%, #FF4E50 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #694375 0%, #FF4E50 100%);
    border-image: linear-gradient(to left, #694375 0%, #FF4E50 100%);
    border-image-slice: 1;

    #single-image {
    	height: 250px;

		@media (min-width: 768px) {
			height: 500px;
		}
    }
}

#banner-left {
	height: 250px;

	border-right: 1px solid $red;

	@media (min-width: 768px) {
		height: 500px;
	}

	background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#banner-right {
	height: 250px;

	border-left: 1px solid $red;

	@media (min-width: 768px) {
		height: 500px;
	}

	background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#border-bot {
	border-width: 2px 0px 0px 0px;
	border-style: solid;

	-moz-border-image: -moz-linear-gradient(right, #694375 0%, #FF4E50 100%);
    -webkit-border-image: -webkit-linear-gradient(right, #694375 0%, #FF4E50 100%);
    border-image: linear-gradient(to left, #694375 0%, #FF4E50 100%);
    border-image-slice: 1;
}