.home-brand-text {
	    margin: 4rem auto 6rem;
	h1 {
		font-size: 30px;
		line-height: 1.2em;
		margin:0px;
	}
	h2 {
		font-size: 26px;
		line-height: 1.2em;
		margin:0px;
	}

	p {
		margin-top: 30px;
		padding: 0 6rem;
	}
}


.home-brand-group {
	padding: 1rem 0 6rem;
	@media (min-width: 768px) {
		.border-right {
		    padding-bottom: 0;
		    border-style: solid;
		    border-color: #e5e5e5;
		    border-width: 0 2px 0 0;
		}
	}

	h4 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	h5 {
		font-size: 18px;
	}

	p {
		font-size: 16px;
	}

	a {
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;

		span {

    		&:after {
			    content: '';
			    display: block;
			    border-width: 0px 0 3px 0px;
			    border-style: solid;

				-moz-border-image: -moz-linear-gradient(right, #694375 0%, $red 100%);
			    -webkit-border-image: -webkit-linear-gradient(right, #694375 0%, $red 100%);
			    border-image: linear-gradient(to left, #694375 0%, $red 100%);
			    border-image-slice: 1;

			    width: 0;
			    -webkit-transition: width .25s ease-out;
			    transition: width .25s ease-out;
			}
    	}

	    &:hover {
	    	text-decoration: none;

	    	span {
	    		&:after {
				    width: 100%;
				}
			}
		}
	}

	.svg-icon {
		width: 45px;
		height: 45px;
		margin-bottom: 45px;
		margin-top: 10px;
	    margin-right: auto!important;
		margin-left: auto!important;
	}

	.phone {
		color: $red;
	}
}

.home-brand-quote {
	background: #f9f9f9;
	padding-bottom: 45px;
}


#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: $red;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #303030;
}
#back-to-top.show {
    opacity: 1;
}

.form-control {
	border-radius: 9px;
	border:3px solid #ccc !important;
	padding: 7px !important;
	font-family: $font-family-sans-serif;
	height: auto;
}


.gform_wrapper .percentbar_blue {
	background: rgba(255,78,81,1);
background: -moz-linear-gradient(left, rgba(255,78,81,1) 0%, rgba(105,67,117,1) 100%)  !important;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,78,81,1)), color-stop(100%, rgba(105,67,117,1)))  !important;
background: -webkit-linear-gradient(left, rgba(255,78,81,1) 0%, rgba(105,67,117,1) 100%)  !important;
background: -o-linear-gradient(left, rgba(255,78,81,1) 0%, rgba(105,67,117,1) 100%)  !important;
background: -ms-linear-gradient(left, rgba(255,78,81,1) 0%, rgba(105,67,117,1) 100%)  !important;
background: linear-gradient(to right, rgba(255,78,81,1) 0%, rgba(105,67,117,1) 100%)  !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4e51', endColorstr='#694375', GradientType=1 )  !important;
}


.gform_wrapper div.validation_error {
	color: $red !important;
    border: 2px solid $red  !important;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: #fff !important;
    border: 2px solid $red  !important;
}

.gform_wrapper .gfield_error .gfield_label {
    color: $red  !important;
}

.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
    color: $red  !important;
}

.gform_wrapper .validation_message {
    color: $red  !important;
}

.gform_next_button {
	background-color: $red  !important;
	color: #fff;
	white-space: nowrap;
    padding: 6px 12px !important;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px !important;

    &:hover {
    	background-color: lighten($red, 10%) !important;
    }
}

.gform_previous_button {
	background-color: $gray-light  !important;
	color: #fff;
	white-space: nowrap;
    padding: 6px 12px !important;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px !important;

    &:hover {
    	background-color: lighten($red, 10%) !important;
    }
}


.white-popup {
  position: relative;
  background: #f9f9f9;
	padding: 35px 50px;
	width: auto;
	max-width: 900px;
	margin: 20px auto;
	border-radius: 10px;
}




.cc-form {
	.form-control {
		width: 100%;
		display: block;

		&:focus {
			outline:none;
			box-shadow: none;
			border-color: darken($brand-success,10%) !important;
		}
	}

	label {
		display: block;
		text-align: center;
		font-size: 16px;
		color: lighten($brand-primary, 15%);
		font-family: $font-family-sans-serif;
	}

	.x {
		color: #ccc;
	    font-size: 30px;
	    line-height: 150px;
	    text-align: center;
	    display: block;

	    @media (max-width: 767px) {
	    	line-height: 45px;
	    }
	}

	.hlabel {
		height: 44px;
	}

	.inputtop {
		margin-bottom: 20px;
	}

	.qlable {
		margin-top: 40px;
	}
}

.nav-pills {
	margin-bottom: 30px;
}


.total {
	font-size: 38px;
	line-height: 40px;
	display: block;

	@media (max-width: 767px) {
		margin-top: 25px;
	    display: block;
	    font-size: 28px;
	}
}

.m3 {
	font-size: 20px;
    line-height: 30px;
    vertical-align: text-top;
    margin-left: 10px;
}






.main-btn {
    color: #fff;
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    line-height: normal;
    vertical-align: middle;
    top: 50%;
    margin-top: -55px;
    left: 50%;
    margin-left: -135px;
    width: 270px;
    background: none $red;
    display: block;
    padding: 28px 0 28px;

    &:hover {
    	color: #fff;
    	background: $brand-primary
    }
}